<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bifrost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bifrost.Properties.Settings>
            <setting name="Bifrost_WebReference_Service" serializeAs="String">
                <value>http://192.168.36.6/WebSite1/Service.asmx</value>
            </setting>
        </Bifrost.Properties.Settings>
    </applicationSettings>
</configuration>