<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Senyint.QcWcfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServiceUri" value="http://192.168.146.1/QcService.svc" />
  </appSettings>
  <applicationSettings>
    <Senyint.QcWcfClient.Properties.Settings>
      <setting name="Senyint_QcWcfClient_localhost_QcService" serializeAs="String">
        <value>http://localhost/QcService.svc</value>
      </setting>
    </Senyint.QcWcfClient.Properties.Settings>
  </applicationSettings>
</configuration>